{%- if site.ga and site.ga.account %}
    <!-- Google Analytics -->
    {% comment %} should be the first script in the HEAD section {%- endcomment -%}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.ga.account }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', '{{ site.ga.account}}');
    </script>
{%- endif %}

{%- if site.plausible and site.plausible.domain %}
    <script async defer data-domain="{{ site.plausible.domain }}" src="https://plausible.io/js/plausible.outbound-links.js"></script>
{%- endif -%}
